=simple_form_for @attempt do |f|
  %br/
  .row.hide
    .small-10.medium-8.small-centered.columns
      =f.input :number, input_html: {maxlength: 12}
  .row
    .small-9.medium-6.large-3.small-offset-2.medium-offset-3.large-offset-4.columns
      .panel
        %h3.serif.text-center#display
          %em
            ready
  .row
    .small-3.medium-2.large-1.small-offset-2.medium-offset-3.large-offset-4.columns
      .button.expand.radius.serif#one 1
    .small-3.medium-2.large-1.columns
      .button.expand.radius.serif#two 2
    .small-3.medium-2.large-1.columns.end
      .button.expand.radius.serif#three 3
  .row
    .small-3.medium-2.large-1.small-offset-2.medium-offset-3.large-offset-4.columns
      .button.expand.radius.serif#four 4
    .small-3.medium-2.large-1.columns
      .button.expand.radius.serif#five 5
    .small-3.medium-2.large-1.columns.end
      .button.expand.radius.serif#six 6
  .row
    .small-3.medium-2.large-1.small-offset-2.medium-offset-3.large-offset-4.columns
      .button.expand.radius.serif#seven 7
    .small-3.medium-2.large-1.columns
      .button.expand.radius.serif#eight 8
    .small-3.medium-2.large-1.columns.end
      .button.expand.radius.serif#nine 9
  .row
    .small-3.medium-2.large-1.small-offset-2.medium-offset-3.large-offset-4.columns
      .button.expand.radius.serif#star *
    .small-3.medium-2.large-1.columns
      .button.expand.radius.serif#zero 0
    .small-3.medium-2.large-1.columns.end
      .button.expand.radius.serif#pound #
