%br/
.row
  .small-12.columns
    %h1.text-center.serif Welcome To Venturi Underground
    %p.text-center.serif
      %em I should really have a better tagline.
  %hr/
.row
  .small-10.small-centered.columns
    %h1 #{@post.title}
    %p
      %em Posted by aventuri on #{@post.created_at.to_formatted_s(:short)}
    %div
      =raw RedCloth.new(@post.body).to_html
