%br/
.row
  .small-10.small-centered.columns
    =simple_form_for @post do |f|
      .row
        .small-10.columns
          =f.input :title
        .small-2.columns
          =f.input :active
      =f.textile_editor :body, style: 'height: 25em;'
      %p.text-right
        =f.button :submit
      =content_for :javascript do
        =textile_editor_initialize
