!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      =content_for?(:title) ? yield(:title) : 'Venturi Creative'
    =stylesheet_link_tag    "application"
    =javascript_include_tag "vendor/modernizr"
    =csrf_meta_tags
    =google_webfonts_link_tag "Cinzel Decorative"
    =google_webfonts_link_tag "News Cycle"
  %body
    -unless flash.empty?
      .row
        .small-12.columns
          -flash.each do |name, msg|
            -if msg.is_a?(String)
              .alert-box{:class => name, "data-alert" => "", style: 'font-size: large;'}
                =content_tag :div, msg
                %a.close{:href => "#"} &times;
    -if session[:poster]
      .row
        .small-11.columns
          =yield
        .small-1.column
          %br/
          .icon-bar.large-vertical.four-up
            =link_to posts_path, class: 'item' do
              %i.fi-home
                .medium /posts
            =link_to attempts_path, class: 'item' do
              %i.fi-list-thumbnails
                .medium /attempts
            =link_to new_post_path, class: 'item' do
              %i.fi-pencil
                .medium /posts/new
            =link_to signout_path, class: 'item' do
              %i.fi-x
                .medium /signout
    -else
      =yield
    =javascript_include_tag "application"
    =yield :javascript
